@import '../partials/base';

.lastUpdated {
	display: block;
}
#dialog-modal {
	p {
		margin: 0;
		padding: 0;
	}
	#username {
		margin: 1em 0 0 0;
	}
}

input.name {
	width: 75%;
}

ul.userLists, ul.otherLists {
	margin: 0;
	padding: 0;
	list-style: none;
	li {
		padding: 1em 0 1em 1em;
		border-bottom: 1px dashed $light-blue;
	}
}


#checklist {
	margin: 0 0 0 .5em;
	ul {
		margin: 1em 0 0 2.5em;
		padding: 0;
		list-style: none;
		li {
		    display: block;
		    position: relative;
		    padding: .5em 0;
		    cursor: pointer;
		    input {
		      display: none;
		    }
		    &:before {
		      display: block;
		      content: '';
		      width: .85em;
		      height: .8em;
		      border: 1px solid $dark-gray;
		      position: absolute;
		      top: 50%;
		      left: -1.8em;
		      margin-top: -.4em;
		    }
		    &.completed {
		      text-decoration: line-through;
		      &:after {
		        font-size: 1.8em;
		        font-weight: bold;
		        content: '\2713';
		        position: absolute;
		        top: 50%;
		        left: -1.1em;
		        color: $green;
		        margin-top: -.7em;
		      }
		    }
	  	}
	}
}

a.back {
	display: inline-block;
	color: $white;
	text-decoration: none;
	margin: 1em 1em 2em 1.5em;;
}

#newTask {
	margin-top: 1em;
}

.rename, .addTask, .save, .back {
	@include button-style;
	font-size: 1.1em;
	&:hover {
		cursor: pointer;
	}
}

.saveWrapper {
	margin: 1em;
}

.social {
	margin-top: 1em;
	padding: .5em;
	border: 1px solid $light-blue;
	background-color: $light-tan;
	border-width: 1px 0;
	font-size: .9em;
}

.print {
	#checklist ul li {
		color: #000;
		cursor: default;
	}
}