@import "partials/base";

$width: 900px;

body {
	@include font-style;
	color: $gray;
}
a {
	color: $links_color;
	&:hover {
		color: $links-color-hover;
	}
	&:visited {
		color: $links-color-visited;
	}
}
input {
	font-size: 1.2em;
}
h1, h2 {
	font-family: $serif;
	color: $green;
}
#container {
	width: $width;
	margin: 0 auto;
}
header {
	@include box-sizing(border-box);
	width: 100%;
	height: 200px;
	background: url('http://placehold.it/900x200') no-repeat;
}

nav {
	height: 50px;
	background-color: #ddd;
}

#upperMain,
#main {
	float: left;
	width: 650px;
}
#upperRight, #right {
	margin-left: 670px;
}
#upperRight {
	height: 300px;
	background-color: pink;
}
#right {
	height: 300px;
	background-color: green;
}
footer {
	clear: both;
	height: 100px;
	width: $width;
	margin: 0 auto;
	background-color: cyan;
}

.hide {
	display: none;
}
span.error {
	color: red;
}