@import 'compass';
@import 'colors';

// font variables
$serif: Georgia, 'Times New Roman', Times, serif;
$sans-serif: Arial, Helvetica, sans-serif;
$monospace: "Courier New", Courier, monospace;
//$fancy-serif: 'Adelle', #{$serif};
$fancy-serif: #{$serif};

// ---- [ Style buttons ] ---- */
@mixin button-style($background: $button-color, $color: $button-text-color, $padding: 0.5em 1em, $hover-color: $dark-blue, $hover-background: $light-blue){
  @include appearance(none); // removes browser default styles for buttons */
  padding: $padding;
  background-color: $background;
  border-color: $background;
  border-width: 0px;
  @include wobbly-border;
  @include font-style($fancy-serif, 12px, 14px, 800, $color);
  &:hover{
    text-decoration: none;
    color:$hover-color;
    background-color: $hover-background;
    border-color: $hover-background;
  }
}

@mixin wobbly-border($multiplier: 1){
  @include border-radius(8px*$multiplier 3px*$multiplier, 2px*$multiplier 18px*$multiplier);
}
// ---- [ Font Style ] ---- */
@mixin font-style($font: $sans-serif, $size: 1em, $line-height: 1.3, $weight: normal, $color: none){
  font: #{$weight} #{$size}/#{$line-height} #{$font};
  @if $color == none{
  }@else{
    color: $color;
  }
}